In [5]:
import numpy as np
import pymc3 as pm
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('seaice.csv', index_col=0)

In [7]:
df

           Date       Ice
0    1979-01-15  0.828425
1    1979-02-15  0.998836
2    1979-03-15  0.971021
3    1979-04-15  1.000000
4    1979-05-15  0.920762
..          ...       ...
415  2013-08-15 -1.716618
416  2013-09-15 -2.246068
417  2013-10-15 -1.284155
418  2013-11-15 -0.541303
419  2013-12-15  0.132371

[420 rows x 2 columns]

In [9]:
type(df.Date[0])

str